@import url('https://fonts.googleapis.com/css?family=Exo:400,500,700,800|Noto+Sans:400,700&display=swap');

:root {
  --color-red: #ff5e67;
  --color-blue: #00aeee;
  --color-green: #00d398;
  --color-yellow: #ffd794;
  --color-black: #334a52;
  --color-grey-blue: #f4f5f7;

  --color-body-heading: #061e25;
  --color-body-font: #334a52;

  --font-primary: 'Noto Sans', sans-serif;
  --font-secondary: 'Exo', sans-serif;
}

body {
  background-color: var(--color-grey-blue);
  font-family: var(--font-primary);
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.75;
}

/* typography */

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-body-heading);
  font-family: var(--font-secondary);
  letter-spacing: 2px;
  margin-top: 0;
}

h1,
.m-heading--xxl {
  font-size: 1.75rem;
  font-weight: 400;
}

h2,
.m-heading--xl {
  font-size: 1.5rem;
  font-weight: 500;
}

h3,
.m-heading--lg {
  font-size: 1.25rem;
  font-weight: 700;
}

h4,
.m-heading--md {
  font-size: 1rem;
  font-weight: 800;
}

h5,
.m-heading--sm {
  font-size: 0.75rem;
  font-weight: 800;
}

p {
  font-family: var(--font-primary);
  margin: 0;
}

button {
  font-family: var(--font-secondary);
  letter-spacing: 1px;
}

/* base */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-body-font);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button,
input,
textarea {
  background: none;
  border: 0;
  outline: none;
}

/* base icons */
.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-dark {
  color: var(--color-body-font);
}

/* layout header */
.l-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.75rem 1rem;
}

/* module header logo */
.m-header--logo {
  color: var(--color-body-font);
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 800;
  margin-right: auto;
  text-transform: uppercase;
}

.m-header--icon:first-of-type {
  margin-right: 0.5rem;
}

/* layout container */
/* .l-container {
  margin: 0.75rem 1rem;
} */

.m-section {
  width: 100%;
}

.m-section--heading {
  margin: 0.75rem 1rem;
  position: relative;
}

.m-trending {
  display: flex;
  flex-direction: column;
}

.m-heading--red::before {
  bottom: 0;
  background: var(--color-red);
  content: '';
  height: 3px;
  position: absolute;
  width: 100%;
}

/* layout card */

.m-card {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 0.75rem 1rem 2rem;
  overflow: hidden;
  position: relative;
  transition: .2s ease-in;
}

.m-card:hover {
  transform: scale(1.015);
}

.m-card--icon {
  cursor: pointer;
  height: 3rem;
  padding: 0;
  position: absolute;
  width: 3rem;
}

.m-card--icon-star {
  background-color: var(--color-yellow);
  right: 0;
  top: 0;
}

.m-card--icon-arrow {
  align-items: center;
  background-color: var(--color-grey-blue);
  bottom: 0;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: flex-end;
  padding: 0 0.75rem;
  right: 0;
  text-transform: uppercase;
  width: 10rem;
}


.m-card--icon-star > i {
  color: var(--color-grey-blue);
  /* opacity: 0.25; */
}

.m-card--icon-arrow > i {
  color: var(--color-black);
  margin-left: 1rem;
}

.m-card--category,
.m-card--votes {
  color: var(--color-grey-blue);
  background: var(--color-black);
  padding: 0.25rem 0.75rem;
  position: absolute;
  top: 50%;
}

.m-card--votes {
  right: 0;
}

.m-card--votes {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.m-card--votes > i {
  margin-left: 0.25rem;
}

.m-card--image {
  height: 55%;
  object-fit: cover;
  width: 100%;
}

.m-card--title,
.m-card--short-title {
  padding: 0 0.75rem;
}

.m-card--title {
  text-transform: capitalize;
}

/* layout detail */
.m-detail--header {
  height: 400px;
  width: 100%;
}

.m-detail--image {
  height: 100%;
  object-fit: cover;
  object-position: 30%;
  width: 100%;
}
