@import url('https://fonts.googleapis.com/css?family=Exo:400,500,700,800|Noto+Sans:400,700&display=swap');

:root {
  --color-red: #ff5e67;
  --color-blue: #00aeee;
  --color-green: #00d398;
  --color-yellow: #ffd794;
  --color-black: #334a52;
  --color-grey-light: #96afb8;
  --color-grey-blue: #f4f5f7;

  --color-body-heading: #061e25;
  --color-body-font: #334a52;

  --font-primary: 'Noto Sans', sans-serif;
  --font-secondary: 'Exo', sans-serif;
}

body {
  background-color: var(--color-grey-blue);
  font-family: var(--font-primary);
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.75;
}

/* typography */

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-body-heading);
  font-family: var(--font-secondary);
  letter-spacing: 2px;
  margin: 0;
}

h1,
.m-heading--xxl {
  font-size: 1.75rem;
  font-weight: 400;
}

h2,
.m-heading--xl {
  font-size: 1.5rem;
  font-weight: 500;
}

h3,
legend,
.m-heading--lg {
  font-size: 1.25rem;
  font-weight: 700;
}

h4,
label,
.m-heading--md {
  font-size: 1rem;
  font-weight: 800;
}

h5,
.m-heading--sm {
  font-size: 0.75rem;
  font-weight: 800;
}

p {
  font-family: var(--font-primary);
  margin: 0;
}

button {
  font-family: var(--font-secondary);
  letter-spacing: 1px;
}

/* base */

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--color-body-font);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  background: none;
  border: 0;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  transition: 0.2s ease-in;
}

textarea {
  line-height: 1.25rem;
  resize: none;
}

input:focus,
textarea:focus {
  transform: scale(1.015);
}

input[type='file'] {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
}

/* base icons */
.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-dark {
  color: var(--color-body-font);
}

/* layout header */
.l-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.75rem 1rem;
}

/* module header logo */
.m-header--link {
  margin-right: auto;
}

.m-header--link:nth-child(2) {
  align-items: center;
  display: flex;
  margin: 0 0 auto;
}

.m-header--logo {
  color: var(--color-body-font);
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: auto;
  text-transform: uppercase;
}

.m-header--icon:first-of-type {
  margin-right: 0.5rem;
}

/* layout navigation */
.m-nav--check {
  cursor: pointer;
  display: block;
  height: 24px;
  opacity: 0;
  position: absolute;
  right: 1rem;
  width: 30px;
  z-index: 13;
}

.m-nav--line {
  background: var(--color-black);
  display: block;
  height: 3px;
  margin-bottom: 5px;
  opacity: 1;
  position: relative;
  transform-origin: 4px 0px;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in,
    background 0.5s ease-in;
  width: 30px;
  z-index: 12;
}

.m-nav--line:first-of-type {
  transform-origin: 0% 0%;
}

.m-nav--line:nth-child(3) {
  transform-origin: 0% 100%;
}

.m-nav--line:last-of-type {
  margin-bottom: 0px;
}

.m-nav--menu {
  align-items: center;
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: -2.45rem 0 0 2.85rem;
  padding: 10rem 4rem 4rem;
  position: absolute;
  transform-origin: 0% 0%;
  transform: translate(0, 0);
  transition: transform 0.2s ease-in;
  width: 100%;
  z-index: 11;
}

.m-menu--link {
  width: 100%;
}

.m-menu--item {
  align-items: center;
  color: var(--color-grey-blue);
  display: flex;
  flex-direction: row;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.m-menu--item > i {
  margin-right: 2rem;
}

.m-header--nav .m-nav--check:checked ~ .m-nav--line:first-of-type {
  background: var(--color-grey-blue);
  transform: rotate(45deg) translate(0px, -3px);
}

.m-header--nav .m-nav--check:checked ~ .m-nav--line:nth-child(3) {
  background: var(--color-grey-blue);
  opacity: 0;
  transform: translateX(50px) scale((0.2, 0.2));
}

.m-header--nav .m-nav--check:checked ~ .m-nav--line:last-of-type {
  background: var(--color-grey-blue);
  transform: rotate(-45deg) translate(0, 0px);
}

.m-header--nav .m-nav--check:checked ~ ul {
  transform: translate(-100%, 0);
}

/* layout container */

.m-section {
  padding: 0.75rem 1rem;
  width: 100%;
}

.m-section--heading {
  margin-bottom: 1.25rem;
  position: relative;
}

.m-trending {
  display: flex;
  flex-direction: column;
}

.m-section--heading::before {
  bottom: 0;
  content: '';
  height: 3px;
  position: absolute;
  width: 100%;
}

.m-section--heading-red::before {
  background: var(--color-red);
}

.m-section--heading-blue::before {
  background: var(--color-blue);
}

.m-section--heading-green::before {
  background: var(--color-green);
}

/* layout card */

.m-card {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-in;
}

.m-card:hover {
  transform: scale(1.015);
}

.m-card--icon {
  cursor: pointer;
  font-size: 0.9rem;
  height: 3rem;
  padding: 0;
  position: absolute;
  width: 3rem;
}

.m-card--icon-star {
  background-color: var(--color-yellow);
  right: 0;
  top: 0;
}

.m-card--icon-arrow {
  align-items: center;
  background-color: var(--color-grey-blue);
  bottom: 0;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: flex-end;
  padding: 0 0.75rem;
  right: 0;
  text-transform: uppercase;
  width: 10rem;
}

.m-card--icon-star > i {
  color: var(--color-grey-blue);
  /* opacity: 0.25; */
}

.m-card--icon-arrow > i {
  color: var(--color-black);
  margin-left: 1rem;
}

.m-card--category,
.m-card--votes {
  color: var(--color-grey-blue);
  background: var(--color-black);
  padding: 0.25rem 0.75rem;
  position: absolute;
  text-transform: capitalize;
  top: 50%;
}

.m-card--votes {
  right: 0;
}

.m-card--votes {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.m-card--votes > i {
  margin-left: 0.25rem;
}

.m-card--image {
  height: 55%;
  object-fit: cover;
  width: 100%;
}

.m-card--title,
.m-card--short-title {
  padding: 0 0.75rem;
}

.m-card--title {
  margin-top: 2rem;
  text-transform: uppercase;
}

/* layout detail */
.m-detail--header {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  position: relative;
  width: 100%;
}

.m-detail--header :not(img) {
  color: var(--color-grey-blue);
  z-index: 10;
}

.m-detail--header:after {
  background: rgba(0, 0, 0, 0.45);
  content: '\A';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-detail--image {
  height: 100%;
  object-fit: cover;
  object-position: 30%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-information {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.m-detail--information {
  flex: 0 0 100%;
  padding: 0.75rem 1rem 2rem;
  width: 100%;
}

.m-comment {
  border: 2px solid var(--color-grey-light);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
  width: 100%;
}

.m-comment--title {
  font-weight: 700;
  text-transform: capitalize;
}

.m-comment--likes {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2rem;
  padding: 0.25rem 0;
  text-align: center;
  height: 100%;
  background: var(--color-grey-light);
  color: var(--color-grey-blue);
}

.m-nav {
  padding: 0.75rem 1rem;
}

.m-nav--list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.m-list--item {
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.m-list--item::before {
  background: var(--color-black);
  bottom: -3px;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  transition: 0.2s ease-in;
  width: 0%;
}

.m-list--item:hover::before {
  width: 50%;
}

.m-item--active {
  position: relative;
}

.m-item--active::before {
  background: var(--color-black);
  bottom: -3px;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 100%;
}

/* layout form */
.m-form {
  display: flex;
  flex-direction: column;
}

.m-fieldset--label {
  margin-bottom: 0.5rem;
}

.m-fieldset--text {
  background: white;
  border: 2px solid var(--color-grey-light);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}

.m-fieldset--button {
  background: var(--color-black);
  border: 2px solid var(--color-black);
  color: var(--color-grey-blue);
  margin-top: 1rem;
  padding: 0.75rem 1rem;
}

.m-fieldset--upload {
  align-items: center;
  border: 2px solid var(--color-grey-light);
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.m-fieldset--upload > i {
  color: var(--color-grey-light);
}

.m-fieldset--label-radio {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin: 0.5rem 0;
}
