<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header%>
        <main class="l-container">
            <form class="m-form" action="/newissue" method="post">
                <fieldset class="m-form--fieldset">
                    <legend class="m-fieldset--title">Create issue</legend>
                    <label for="title">Title</label>
                    <input id="title" type="text">
                    <label for="meta-description">Description</label>
                    <input id="meta-description" type="text">
                    <label for="upload">Upload</label>
                    <input id="uploadtype="text">
                    <label for="category">Category</label>
                    <input id="catergory" type="radio">
                    <button type="submit">Post</button>
                </fieldset>
            </form>
        </main>
    </body>
</html>