<!DOCTYPE <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header%>
        <main class="l-container">
            <form action="/" method="post">
                <fieldset>
                    <legend>Create issue</legend>
                    <label for="title">Title</label>
                    <input id="title" type="text">
                    <label for="meta-description">Description</label>
                    <input id="meta-description" type="text">
                </fieldset>
            </form>
        </main>
    </body>
</html>>