<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header%>
        <main class="l-container">
            <section class="m-section">
                <form class="m-form" action="/newissue" method="post" enctype="multipart/form-data">
                    <legend class="m-section--heading m-section--heading-green m-heading--xxl">Create issue</legend>
                    <label class="m-fieldset--label" for="title">Title</label>
                    <input class="m-fieldset--input m-fieldset--text" id="title" type="text" name="title">
                    <label class="m-fieldset--label" for="meta-description">Meta description</label>
                    <input class="m-fieldset--input m-fieldset--text" id="meta-description" type="text" name="meta_description">
                    <label class="m-fieldset--label" for="description">Description</label>
                    <textarea class="m-fieldset--input m-fieldset--text" rows="5" maxlength="250" type="text" name="description" wrap="hard" id="description"></textarea>
                    <label class="m-fieldset--label" for="upload">Upload</label>
                    <div class="m-fieldset--upload">
                        <i class="material-icons md-36">add_photo_alternate</i>
                         <input class="m-fieldset--input" id="upload" type='file' name='upload' />
                    </div>
                    <label class="m-fieldset--label" for="category">Category</label>
                    <div class="m-fieldset--controls">
                        <label class="m-fieldset--label-radio" for="environment">
                            Environment
                            <input class="m-fieldset--input" id="environment" value="environment" type="radio" name="category">
                        </label>
                        <label class="m-fieldset--label-radio" for="politics">
                            Politics
                            <input class="m-fieldset--input" id="politics" value="politics" type="radio" name="category">
                        </label>
                        <label class="m-fieldset--label-radio" for="society">
                            Society
                            <input class="m-fieldset--input" id="society" value="society" type="radio" name="category">
                        </label>
                        <label class="m-fieldset--label-radio" for="animals">
                            Animals
                            <input class="m-fieldset--input" id="animals" value="animals" type="radio" name="category">
                        </label>
                        <label class="m-fieldset--label-radio" for="pollution">
                            Pollution
                            <input class="m-fieldset--input" id="pollution" value="pollution" type="radio" name="category">
                        </label>
                    </div>
                    <button class="m-fieldset--button" type="submit">Post</button>
                </form>
            </section>
        </main>
    </body>
</html>