<!DOCTYPE <html>
    <html lang="en" dir="ltr">
        <head>
            <% include ../partials/head %>
        </head>
        <body>
            <div class="wrapper">
                <% include ../partials/header %>
                <main class="l-container">
                    <section class="m-section">
                        <form class="m-form" action="/login" method="post">
                            <legend class="m-fieldset--title m-section--heading m-section--heading-red">Log in</legend>
                            <label class="m-fieldset--label" for="username">Username</label>
                            <input class="m-fieldset--input m-fieldset--text" id="username" type="text" name="username" required>
                            <label class="m-fieldset--label" for="password">Password</label>
                            <input class="m-fieldset--input m-fieldset--text" id="password" type="password" name="password" required>
                            <button class="m-fieldset--button" type="submit">Login</button>
                            <a href="/register"><span>Don't have an account yet?</span></a>
                        </form>
                    </section>
                </main>
            </div>
        </body>
    </html>
</html>