<head>
    <% include ../partials/head %>
</head>
<form class="login" action="/login" method="POST">
      <h1>Log in</h1>
      Username: <br>
      <input type="text" name="username" value="">
      <br>Password: <br>
      <input type="password" name="password" value="">
      <button type="submit">Login</button>
      <a href="/register"><br>Don't have an account yet?</a>
    </form>