<!DOCTYPE <html>
    <html lang="en" dir="ltr">
        <head>
            <% include ../partials/head %>
        </head>
        <% include ../partials/header %>
        <h2><%= message %></h2>
        <a href="<%= redirect %>"><p>OK</p><a>
    </html>
</html>