<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/header%>
        <main class="l-container">
            <section class="m-section">
                <a href="/logout"><button type="submit">Logout</button></a>
            </section>    
        </main>
    </body>
</html>