<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <% include ../partials/header %>
    <body>
        <main class=l-container>
            <form action="/register" method="POST">
                <h1>Sign up</h1>
                <br>Username: <br>
                <input type="text" name="username" value="">
                <br>Password <br>
                <input id='password' type="password" name="password" value=""> <br>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>>