<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
            <main class="l-container">
                <section class="m-section">
                    <form class="m-form" action="/register" method="post">
                        <legend class="m-fieldset--title m-section--heading m-section--heading-red">Sign up</legend>
                        <label class="m-fieldset--label" for="username">Username</label>
                        <input class="m-fieldset--input m-fieldset--text" id="username" type="text" name="username">
                        <label class="m-fieldset--label" for="password">Password</label>
                        <input class="m-fieldset--input m-fieldset--text" id="password" type="text" name="password">
                        <button class="m-fieldset--button" type="submit">Register</button>
                    </form>
                </section>
            </main>
    </body>
</html>