<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
            <main class="l-container">
                <section class="m-section">
                    <form class="m-form" action="/register" method="post">
                        <legend class="m-fieldset--title m-section--heading m-section--heading-red">Sign up</legend>
                        <label class="m-fieldset--label" for="username">Username</label>
                        <input class="m-fieldset--input m-fieldset--text" id="username" type="text" name="username">
                        <label class="m-fieldset--label" for="password">Password</label>
                        <input class="m-fieldset--input m-fieldset--text" id="password" type="text" name="password">
                        <label class="m-fieldset--label" for="first_name">First name</label>
                        <input class="m-fieldset--input m-fieldset--text" id="first_name" type="text" name="first_name">
                         <label class="m-fieldset--label" for="last_name">Last name</label>
                        <input class="m-fieldset--input m-fieldset--text" id="last_name" type="text" name="last_name">
                         <label class="m-fieldset--label" for="city">City</label>
                        <input class="m-fieldset--input m-fieldset--text" id="city" type="text" name="city">
                        <label class="m-fieldset--label" for="skills">Skills</label>
                        <input class="m-fieldset--input m-fieldset--text" id="skills" type="text" name="skills">
                        <button class="m-fieldset--button" type="submit">Register</button>
                    </form>
                </section>
            </main>
    </body>
</html>