:root {
  --color-red: #ff5e67;
  --color-blue: #00aeee;
  --color-green: #00d398;
  --color-yellow: #ffd794;
  --color-black: #334a52;
  --color-grey-light: #96afb8;
  --color-grey-blue: #f4f5f7;

  --color-body-heading: #061e25;
  --color-body-font: #334a52;
}
