.m-header--nav .m-nav--check:checked ~ .m-nav--line:first-of-type {
  background: var(--color-grey-blue);
  transform: rotate(45deg) translate(0px, -3px);
}

.m-header--nav .m-nav--check:checked ~ .m-nav--line:nth-child(3) {
  background: var(--color-grey-blue);
  opacity: 0;
  transform: translateX(50px) scale((0.2, 0.2));
}

.m-header--nav .m-nav--check:checked ~ .m-nav--line:last-of-type {
  background: var(--color-grey-blue);
  transform: rotate(-45deg) translate(0, 0px);
}

.m-header--nav .m-nav--check:checked ~ ul {
  transform: translate(-100%, 0);
}

.m-section--heading-red::before {
  background: var(--color-red);
}

.m-section--heading-blue::before {
  background: var(--color-blue);
}

.m-section--heading-green::before {
  background: var(--color-green);
}

.m-card:hover {
  transform: scale(1.015);
}
