<article class="m-card">
	<img class="m-card--image" src="./../../src/img/test-image.jpg" alt="">
	<span class="m-card--cateogry">Environment</span>
	<h3 class="m-card--title">A coding gaming system</h3>
	<p>Learn to code one glitch at a time</p>
	<i class="material-icons">plus_one</i>
	<p class=m-card--votes>0</p>
</article>
