<article class="m-card">
<% console.log(issue) %>
	<img class="m-card--image" src="./../../src/img/test-image.jpg" alt="">
	<span class="m-card--category"><%= issue.genre%></span>
	<h3 class="m-card--title"><%= issue.name %></h3>
	<p><%= issue.short_title %></p>
	<i class="material-icons">plus_one</i>
	<p class=m-card--votes><%= issue.votes %></p>
</article>
