<header class="l-header">
	<a class="m-header--link" href="/"><span class="m-header--logo">wikiminds</span></a>
	<i class="m-header--icon material-icons md-32 md-dark">person</i>
	<nav class="m-header--nav">
		<input class="m-nav--check" type="checkbox">
		<span class="m-nav--line"></span>
		<span class="m-nav--line"></span>
		<span class="m-nav--line"></span>
		<ul class="m-nav--menu">
			<a href="#" class="m-menu--link"><li class="m-menu--item">My issues</li></a>
			<a href="/issue" class="m-menu--link"><li class="m-menu--item">Create issue</li></a>
			<a href="#" class="m-menu--link"><li class="m-menu--item">Participants</li></a>
			<a href="#" class="m-menu--link"><li class="m-menu--item">Categories</li></a>
			<a href="#" class="m-menu--link"><li class="m-menu--item">Messages</li></a>
		</ul>
	</nav>
</header>
