<header class="l-header">
	<a class="m-header--link" href="/"><span class="m-header--logo">wikiminds</span></a>
	<a class="m-header--link" href="/profile"><i class="m-header--icon material-icons md-32 md-dark">person</i></a>
	<nav class="m-header--nav">
		<input class="m-nav--check" type="checkbox" onclick="overflowBody()">
		<span class="m-nav--line"></span>
		<span class="m-nav--line"></span>
		<span class="m-nav--line"></span>
		<ul class="m-nav--menu">
					<% if(session.userId){ %>
			<a href="/issue" class="m-menu--link"><li class="m-menu--item"><i class="material-icons">note_add</i>Create issue</li></a>
			<a href="/favorites" class="m-menu--link"><li class="m-menu--item"><i class="material-icons">star</i>Favorites</li></a>
			<% } %>
			<a href="/profile" class="m-menu--link"><li class="m-menu--item"><i class="material-icons">people</i>Profile</li></a>
		</ul>
	</nav>
</header>
