<header class="l-header">
	<span class="m-header--logo">wikiminds</span>
	<i class="m-header--icon material-icons md-32 md-dark">person</i>
	<i class="m-header--icon material-icons md-32 md-dark">menu</i>
</header>
