<header class="l-header">
	<a class="m-header--link" href="/"><span class="m-header--logo">wikiminds</span></a>
	<i class="m-header--icon material-icons md-32 md-dark">person</i>
	<i class="m-header--icon material-icons md-32 md-dark">menu</i>
</header>
